.smbc-color-primary {
    background-color: #1c6434;
    color: white;
}

.smbc-color-secondary {
    background-color: #acd62b;
}

.nav-tabs {
    background-color: #acd62b;
}

.nav-tabs .nav-link {
    color: black;
}

.nav-tabs .nav-link.active {
    color: white;
    background-color: #1c6434;
}
